{% extends "personal/header.html" %}

{% block content %}

<p><h1><center><strong>Hey  and welcome to my web site. I am a DJANGO programmer !!! and I have a shiny PINK pony with WINGS !!!</strong></center></h1></p>

<div><center>
<img src="static\img\djangopony.png" alt="Django RIDE ON !!!">
<img src="static\img\djangopony.png" alt="Django RIDE ON !!!">
<img src="static\img\djangopony.png" alt="Django RIDE ON !!!">
<img src="static\img\djangopony.png" alt="Django RIDE ON !!!">
<img src="static\img\djangopony.png" alt="Django RIDE ON !!!">
</center></div>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}